---
---
<section id="about" class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl lg:col-span-3 lg:text-5xl indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a developer and writer who builds software and writes about technology, systems, and ideas that interest me.
      </p>
      <p
        class="text-lg lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        Currently open to interesting projects and collaborations. Feel free to reach out.
        <a href="mailto:manav03panchal@proton.me" target="_blank" rel="noopener noreferrer">manav03panchal@proton.me</a>
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I enjoy working on complex problems, learning new technologies, and sharing what I learn through writing.
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        This site is where I publish my thoughts, tutorials, and notes on software development.
      </p>
      <p
        class="text-3xl lg:col-span-3 lg:text-7xl lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        Building things that matter, one line at a time.
      </p>
    </div>
  </div>
</section>
