---
const { class: className } = Astro.props;
const links = [
  { url: "https://github.com/manav03panchal", title: "GitHub" },
  { url: "mailto:manav03panchal@proton.me", title: "Email" },
  { url: "/rss.xml", title: "RSS" },
];
---

<footer class:list={["bg-primary", className]}>
  <div class="px-6 lg:px-8 2xl:max-w-7xl mx-auto py-3">
    <h3 class="text-secondary text-xs font-medium mb-2" data-aos="fade-up" data-aos-duration="800">
      <span>Find</span>
      <span class="font-bold">me</span>
      <span class="italic">elsewhere</span>
    </h3>
    <ul class="flex gap-4 text-xs text-secondary mb-2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
      {links.map((link) => (
        <li>
          <a href={link.url} target="_blank" rel="noopener noreferrer" class="hover:text-secondary/60 transition-colors italic">
            {link.title}
          </a>
        </li>
      ))}
    </ul>
    <span class="text-secondary text-xs font-medium" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">&copy; {new Date().getFullYear()} Manav Panchal</span>
  </div>
</footer>
